/* 版心的公共类 */
.container{
    width:1240px ;
    margin: 0 auto;
}

/* 快捷菜单模块：xtx-shortcut */
.xtx-shortcut{
    height: 52px;
    background-color: #333;
}

.xtx-shortcut .container{
    height: 52px;
    /* background-color: skyblue; */
}

.xtx-shortcut ul li{
    float: left;
    /* 文字垂直 */
    line-height: 52px;

    color: #666;
    
}
.xtx-shortcut ul a{
    margin: 16px;

    font-size: 14px;

    color: #dcdcdc;
}

.xtx-shortcut li:last-child a{
    margin-right: 0;

}

.xtx-shortcut li:last-child a::before{
    content: '';
    width: 11px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -3px;
    /* background: red; */
    background: url(../images/sprites.png) -160px -70px ;

}


/* ----------主导航模块：xtx-主导航模块------------- */

.xtx-main-nav {
    
    height: 130px;
    padding-top: 30px;
    /* 设置玩padding以后 需要设置自动内减 */
    box-sizing: border-box;

    /* background-color: pink; */
}

.xtx-main-nav .logo{
    width: 207px;
    height: 70px;
    /* background-color: red; */
    margin-left: 25px;
}

.xtx-main-nav .logo a{
    display: block;

    height: 70px;

    background: url(../images/logo.png);

    background-size: contain;
    font-size: 0;

}

.xtx-main-nav nav{
    margin-left: 40px;
}

.xtx-main-nav nav li{
    float: left;
    height: 70px;
    margin-right: 48px;
    line-height: 70px;


}

.xtx-main-nav nav a:hover{

    color: #27ba9b;

    border-bottom: 1px solid #27ba9b ;

    padding-bottom: 7px ;

    box-sizing: border-box;
}

.xtx-main-nav .search{
   
    background-color: red;
    width: 172px;
    height: 30px;
    margin-top: 24px;
    margin-left: 34px;

    position: relative;

}


.xtx-main-nav .search input{
    width: 172px;
    height: 30px;
    padding-left: 31px;
    border-bottom: 2px solid #e7e7e7;

}

.xtx-main-nav .search::before{
    content: '';
    width: 18px;
    height: 18px;
    background: url(../images/sprites.png) -80px -70px  ;
    
    position: absolute;
    top: 5px;
    left: 2px;


}

.xtx-main-nav .cart{
    width: 23px;
    height: 23px;
    /* background-color: skyblue; */
    margin-top: 28px;
    margin-left: 15px;
    background: url(../images/sprites.png) -120px -70px;
    position: relative;

}

.xtx-main-nav .cart span{
    width: 20px;
    height: 15px;
    background-color: #e26237;
    position: absolute;
    top: -5px;
    right: -12px;
    border-radius: 8px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    line-height: 15px;
}




/* -----footer模块-------------- */

.xtx-service{
    height: 174px;
    background-color: #333;
}

.xtx-service .container{
    width: 1393;
    border-bottom: 1px solid #434343;
    height: 173px;
    /* ps */
    /* background-color: pink; */

}

.xtx-service .container a{
    width: 33.33%;
    height: 174px;
    /* ps */
    /* background-color: skyblue; */
    float: left;
    text-align: center;
    line-height: 174px;

	font-family: PingFangSC-Light;
	font-size: 28px;
    color: #ffffff;



}

.xtx-service .container a::before{
    content: '';
    width: 58px;
    height: 58px;
    /* ps */
    /* background-color: red; */
    display: inline-block;
    vertical-align: middle;
    margin-right: 19px;
    background: url(../images/sprites.png) 0 0;
}

.xtx-service a:nth-child(2)::before{
    background-position:-130px 0;
}


.xtx-service .container a:nth-child(3)::before{
    background-position: -65px 0;

}


/* -----------版权信息------------- */
.xtx-copyright {
    height: 168px;
    background-color: #333;

}
.xtx-copyright .container{
    height: 168px;
    /* ps */
    /* background-color: pink; */

    text-align: center;
    font-size: 14px;
    color: #999;

    padding-top: 41px;
    box-sizing: border-box;
}

.xtx-copyright .container a{
    color: #999;

}

.xtx-copyright .container p:first-child{
    height: 35px;
}


