/* -------------------网站入口 */

.xtx-entry{
    height: 500px;
    background-color: #f5f5f5;
}

.xtx-entry .container{
    height: 500px;
    /* ps */
    /* background-color: pink;  */
    position: relative; 
}

.xtx-entry .container .category{
    width: 251px;
    height: 500px;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;

}

.xtx-entry .category a{
    color: #fff;


}

.xtx-entry .category li{
    height: 50px;
    padding-left: 36px;
    line-height: 50px;
    position: relative;
}

.xtx-entry .category li:hover{
    background-color: #27ba9b;
}

.xtx-entry .category span{
    font-size: 14px;
}

.xtx-entry .category span:first-child{   
    margin-left: 15px;
}

.xtx-entry .category a::after{
    content: '';
    background: url(../images/sprites.png) -80px -110px;
    width: 6px;
    height: 11px;
    position: absolute;
    top: 19px;
    right: 19px;
}

.xtx-entry .prev{
    width: 45px;
    height: 45px;
    /* background-color: rgba(0,0,0,.2); */
    position: absolute;
    top: 228px;
    left: 260px;
    border-radius: 50%;
    background: rgba(0,0,0,.2) url(../images/sprites.png) 13px -60px;

}

.xtx-entry .next{
    width: 45px;
    height: 45px;
    /* background-color: rgba(0,0,0,.2); */
    position: absolute;
    top: 228px;
    right: 10px;
    border-radius: 50%;
    background: rgba(0,0,0,.2) url(../images/sprites.png) -22px -60px;

}

.xtx-entry .indicator{
    width: 110px;
    height: 10px;
    /* ps */
    /* background-color: red; */
    position: absolute;
    left: 680px;
    bottom: 31px;
}

.xtx-entry .indicator li{
    float: left;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.43);
    border-radius: 50%;
    margin-right: 10px;
}

.xtx-entry .indicator li:last-child{
    margin-right: 0;
}

.xtx-entry .indicator li.active{
    background-color: #fff;
}



/* -------------新鲜好物模块：xtx-new-goods */

.xtx-new-good{
    height: 520px;
    /* ps */
    /* background-color: pink; */
}

.xtx-new-good .goods-hd{
    height: 115px;
    /* ps */
    /* background-color: skyblue; */
    line-height: 115px;

}

.xtx-new-good .goods-hd h2{
    font-size: 29px;
    font-weight: 400;
    height: 115px;
}

.xtx-new-good .goods-hd span{
    font-size: 16px;
    color: #999;
}

.xtx-new-good .goods-hd a{
    color: #999;
}

.xtx-new-good .goods-hd a::after{
    content: '';
    width: 7px;
    height: 13px;
    background-color: red;
    display: inline-block;
    margin-left: 13px;
    background: url(../images/sprites.png) 0 -110px;
    vertical-align: middle;

}

.xtx-new-good .goods-list{
    height: 405px;
    /* ps */
    /* background-color: orange; */
    
}

.xtx-new-good .goods-list li{
    width: 304px;
    height: 405px;
    background-color: purple;
    float: left;
    margin-right: 8px;
    line-height: 1;
    text-align: center;
    background-color: #f0f9f4;
}

.xtx-new-good .goods-list li:last-child{
    margin-right: 0;
}

.xtx-new-good .goods-list li img{
    width: 100%;
}

.xtx-new-good .goods-list li h3{
    margin-top: 22px;
    margin-bottom: 19px;
    font-size: 20px;
    font-weight: 400px;

}

.xtx-new-good .goods-list li p{
    color: #9a2e1f;
    font-size: 23px;

}

.xtx-new-good .goods-list li span{
    font-size: 17px;

}